name: unit tests
on:
  workflow_dispatch:
  push:
    branches:
      - "**"

jobs:
  CI:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: '-Dfile.encoding=utf-8 -Dorg.gradle.daemon=false'

    steps:
      - name: "checkout repo"
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
          ref: ${{ github.head_ref }}

      - name: "gradle validation"
        uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: 'unit tests'
        run: ./gradlew build

#      - name: 'test report'
#        uses: allegro-actions/junit-reporter@v1
#        if: ${{ success() || failure() }}
#        with:
#          path: '**/build/test-results/**/TEST-*.xml'
#          show: 'all'
#          configuration-url: ''
